@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

/* Subtle scrollbar for tables */
.table-scroll::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.table-scroll::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
